$primary_color: #ffcda8;
$secondary_color: #a98b8d;

$main_text_color:  #222222;
$light_text_color: #999999;

$background_color: #ffffff;
$background_after: #222222bb;
$page_color: #f2eeeefc;

$font_family: 'Poppins', sans-serif;

$spacer: 8px;
